* {
  color: #008000;
  font-family: "Verdana", sans-serif;
}

p {
  color: #00f;
  font-family: "Arial", sans-serif;
}

#titulo {
  font-size: 24px;
  color: #f00;
}

.minha-classe {
  font-weight: bold;
}